.blank-content-box {
    width: 740px;
    height: auto;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    margin: auto;
    position: relative;
}

.blank-content-txt:focus {
    outline: none;
}

.blank-trash-box {
    position: fixed;
    bottom: 20px;
    right: 50px;
}
  
.blank-textarea:focus {
    outline: none;
}

.blank-textarea {
    resize: none; 
    min-height: 60vh;
    overflow: hidden; 
    height: auto;
    border: solid 1px rgb(222, 222, 222);
    border-radius: 10px;
    padding: 10px;
  }

.blank-pdf-box {
    position: absolute;
    right: 30px;
    top: 50px;
}

.doc-pdfImg {
    width: 18px;
    height: 23px;
    opacity: 0.5;
}

.doc-pdfTxt {
    font-size: 12px;
    font-weight: 600;
    color: rgba(44, 177, 44, 0.512);
}

.doc-pdfImg:hover {
    cursor: pointer;
}