.work-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.9); /* 흰색 배경, 투명도 0.9 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.time-custom {
    border: none;
    font-size: 15px;
}

.time-custom:focus {
    outline: none;
}

.react-datepicker__day--selected {
    background-color: rgb(0, 0, 0);
}

.react-datepicker__day:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.react-datepicker__current-month {
    font-size: 12.5px;
}

.workDatepicker, .time-custom {
    cursor: pointer;
}

.fc .fc-daygrid-day-number:hover {
    cursor: pointer;
}

.todo-delete-img {
    width: 20px;
}

.todo-delete-box {
    text-align: right;
    margin-right: 35px;
    margin-top: 60px;
}

.todo-delete-img {
    cursor: pointer;
}

.todo-circle-btn {
    background-color: white;
    border: none;
    margin-left: 10px;
}

.todo-circle-btn2 {
    background-color: white;
    border: none;
    margin-left: 25px;
}

.todaySmall-txt22 {
    margin-top: 50px;
    color: #5a5a5a;
    margin-left: 15px;
    margin-right: 100px;
    font-weight: 500;
    font-size: 15px;
}

.assign-chk {
    left: 0;
    position: absolute;
    margin-top: 11px;
    margin-left: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip::after {
    content: 'open';
    position: absolute;
    top: 20px;
    left: 100%;
    transform: translateX(-50%);
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #444545;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 11px;
    font-weight: 500;
  }
  
  .tooltip:hover::after {
    opacity: 1;
  }
  
  .smallCal-total-box {
    display: block;
  }